.easytabsWrapper {
  overflow: hidden;
  font-size: 1rem;
}

.easytabsHeading {
  margin: 1em 1em 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.selectedItem {
  border-bottom: 2px solid #000;
}

.item {
  padding: 5px;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.item .icon {
  font-weight: inherit;
  margin-right: 5px;
}

.easytabsContent {
  padding: 10px;
  border: 1px solid #000;
  margin: 0 36px;
  line-height: 22px;
}
